*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #e6e8e6;
}

.navbar{
    height:130px;
    background-color: #7fcf67;
    color: white;
    -webkit-box-shadow: 5px 29px 50px 50px #7FCF67; 
    box-shadow: 5px 29px 50px 50px #7FCF67;
}

.navbar img{
    height: 100%
}

.card img{
    height: 200px;
    width: auto;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navContainer{
    justify-content: flex-start;
    padding: 15px;
    margin: 0 10px;
}

.logo{
    margin-left: 9px;
}

.card{
    background-color: white;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
}


.grid{
    grid-template-columns: auto auto;
    flex-wrap: wrap;
}

.info h3{
    padding: 10px;
    margin-left: 30px;
}

.AddBtn{
    padding: 10px 30px;
    cursor: pointer;
    background-color: #5b6b01;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
    justify-content: flex-end;   
}